body{
	background:#f5f5f5;
	font-family: 'Roboto', sans-serif;
}

#footer{
	box-shadow: 0px 1px 10px 0px rgba(51, 51, 51, 0.7);
	-moz-box-shadow: 0px 1px 10px 0px rgba(51, 51, 51, 0.7);
	-webkit-box-shadow: 0px 1px 10px 0px rgba(51, 51, 51, 0.7);
}

.logo-urucas{
	width: 100px;
	height: 50px;
	background-image: url('http://urucas.com/images/logo.png');
	background-repeat: no-repeat;
	background-size: 100px 50px;
	display: block;
}

#banner {
	height:310px;
	width:100%;
	background-image: url("../img/frontend/header.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	margin-bottom:0px;
	background-position-y:75%;
	border-bottom:3px solid #aa4243;
}

#core {
	width:100%;
	margin-left:auto;
	margin-right:auto;
}

#footer {
	margin-top:30px;
	width:100%;
	background:#333;
}

#browse {
	margin-top:10px;
}

.fixture-fecha-row{
	padding:8px;
	background-color:#f3f3f3;
}

.fixture-fecha-row.odd, .equipos-row p.odd, .row-grupo-equipo.odd{
	background-color:#ebebeb;
}

.equipos-row .pic{
	border-radius:100%;
	width:125px;
	height:125px;
	background-position:50% 50%;
	background-repeat:no-repeat;
	background-size:cover;
	margin:10px;
}

.equipos-row p{
	margin:0px;
	padding:10px;
	border-bottom:1px solid #f7f7f7;
	background-color:#f3f3f3;

}

.equipos-content select{
	float:right;
	font-size:1.8em;
	margin:8px;
}

.row-grupo-equipo {
	background-color:#f3f3f3;
	border-bottom:1px solid #ccc;
	padding:8px;
}

.canchas-content img{
	margin-left:auto;
	margin-right:auto;
	width:100%;
	max-width: 600px;
	margin-top:10px;
}

#map_container{
	height:306px;
	width:260px;
	background:#fff;
	position:absolute;
	top:0px;
	right:0px;
	box-shadow: 0px 1px 10px 0px rgba(51, 51, 51, 0.7);
	-moz-box-shadow: 0px 1px 10px 0px rgba(51, 51, 51, 0.7);
	-webkit-box-shadow: 0px 1px 10px 0px rgba(51, 51, 51, 0.7);
	right:-260px;
}

#map_container button{
	position:absolute;
	left:-45px;
	border:none;
	margin:8px;
	background:#fff;
	color:#333;
	display:inline;
	width:30px;
	height:30px;
	border-radius:3px;
}

#map_container img{
	height:306px;
	width:260px;
}

.signup {
	width:100%;
	text-align: center;
	background:rgba(255,255,255, 0.8);
	color:#000;
	position:relative;
	top:265px;
}

.signup .date{
	margin:0px;
	padding-top:12px;
	padding-bottom:12px;
	font-size:0.9em;
}

.sponsors, .premios{
	width:100%;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

.sponsors{
	background-image:url('../img/frontend/slide-1.jpg');
	background-size:cover;
	color:#fff;
	padding-bottom:20px;
	padding-top:50px;
}

.premios{
	background:#fa565a;
	color:#fff;
	padding-bottom:20px;
	padding-top:20px;
}

.sponsor {
	float:left;
	margin-left:8px;
}

.sponsor img{
	width:100px;
	height:100px;
	border-radius:100%;
	border:2px solid #fff;
}

.signup-btt {
	margin-top:30px;
	margin-bottom:30px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	padding:12px;
	font-size:1.8em;
	color:#fff;
	background:#080;
	border-radius:5px;
	width:60%;
	text-align:center;
}

.signup-btt:hover{
	text-decoration:none;
	color:#fff;
}

.premios-h1{
	border-radius:100%;
	width:150px;
	height:150px;
	font-size:4em;
	background:#fff;
	color:#333;
	padding-top:40px;
}

.prize-1{
	margin-top:20px;
	font-size:2em;
	text-align:left;
}

.prize-2{
	font-size:1.8em;
	text-align:left;
}

.prize-3{
	font-size:1.5em;
	text-align:left;
}

.prize-desc{
	background:#333;
	color:#fff;
	padding:12px;
	min-height:80px;
}

.no-padding-sides{
	padding-left:0px !important;
	padding-right:0px !important;
}

.no-padding-left{
	padding-left:0px !important;
}

.no-padding-right{
	padding-right:0px !important;
}

.prize-desc-1{
	min-height:128px;
}

.prize-desc-2{
	min-height:104px;
}

.iwant2sponsor{
	color:#fff;
	position:relative;
	font-size:2em;
	top: -50px;
	left: 45%;
}

.iwant2sponsor:hover{
	color:#000;
}

.fa-location-arrow{
	cursor:pointer;
}

.social {
	background:#333;
	padding-top:10px;
	padding-bottom:5px;
}

.instagram {
	text-align:center;
}

.instagram iframe{
	background:#fff;
	padding-left: 8px;
	padding-top: 6px
}

#map-canvas { 
	height: 310px; 
	width:100%;
	margin: 0; 
	padding: 0;
	border-bottom: 3px solid #aa4243;
}

.signup-desc{
	margin-bottom:75px;
}

.signup-desc p{
	margin-top:75px;
	text-align:center;
	font-size:1.2em;
	margin-bottom:40px;
}

@media (max-width: 600px) {
  .location-header {
    display: none;
  }
}

.fb-btt{
	color:#fff;
	display:inline-block;
	margin:8px;
	background: #3b5998;
	padding:12px 22px;
	font-size:1.2em;
}

.tw-btt{
	color:#fff;
	display:inline-block;
	margin:8px;
	background: #00a0d1;
	padding:12px 18px;
	font-size:1.2em;
	margin-left:0px;
}

.fb-btt:hover, .tw-btt:hover{
	color:#fff;
}

.social-buttons{
	text-align:center;
}

.hashtag {
	font-size:2em;
	color:#fff;
}
