<!DOCTYPE html>
<html>
<head>

<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>RugbyCup</title>

<!-- STYLESHEETS : begin -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
<link href='http://fonts.googleapis.com/css?family=Roboto:100,300,400' rel='stylesheet' type='text/css'>
<link href="css/font-awesome.min.css" rel="stylesheet">

<link rel="stylesheet" href="css/style.css">
</head>
<body ng-app="app">

<div id="banner">
	<div class="signup">
		<p class="date"><i class="fa fa-calendar"></i>&nbsp;Sabado 13 dic, 2014 - 15:00hs<span class="location-header">&nbsp;&nbsp;&nbsp;<i id="location-btt-mini" class="fa fa-location-arrow"></i>&nbsp;Sede Club Atletico Provincial</span></p>
	</div>
</div>

<div id="core" ng-controller="MainCtrl as controller">
	
	<section id="signup" ng-show="controller.signup == true">
		<div class="premios">
			<div class="row">
				<h1 class="col-xs-offset-3 col-xs-4 col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-4 premios-h1"><i class="fa fa-trophy"></i><br /></h1>
				
				<div class="col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-6 col-sm-offset-0 col-sm-6">
					<p class="prize-1">1er. premio: Costillar con 4 fernets + 6 cocas</p>
					<p class="prize-2">2do. premio: 3 fernets + 4 cocas</p>
					<p class="prize-3">3er. premio: 2 fernets + 3 cocas</p>
				</div>

			</div>
		</div>

		<div class="sponsors">
			<a class="iwant2sponsor" href="mailto:info@urucas.com?subject=Quiero sumarme a los sponsors" data-toggle="tooltip" data-placement="left" title="Quiero sumarme a los sponsors" target="_blank"><i class="fa fa-question-circle"></i></a>
			<h1>Sponsors</h1>
			<div class="sponsor" ng-repeat="sponsor in controller.sponsors">
				<a href="{{sponsor.link}}" target="_blank">
					<img src="{{sponsor.imagen}}" />
				</a>
			</div>
		</div>
		<div class="social">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6 instagram">
					<!-- testing instagram -->
					<iframe src="http://www.intagme.com/in/?h=cnVnYnljdXB8aW58MTAwfDN8M3x8bm98Mnx1bmRlZmluZWR8bm8=" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:306px; height: 306px" ></iframe>
					<!-- production instagram -->
					<!-- iframe src="http://www.intagme.com/in/?h=cHJvdmlucnVnYnljdXB8aW58MTAwfDN8M3x8bm98Mnx1bmRlZmluZWR8bm8=" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:306px; height: 306px" ></iframe-->
				</div>
				<div class="col-xs-12 col-sm-5 col-md-3 social-buttons">
					<p class="hashtag">Hashtag #ProvinRugbyCup</p>
					<a class="fb-btt" href="https://www.facebook.com/events/749798228420046/?fref=ts" target="_blank"><i class="fa fa-facebook"></i></a>
					<a class="tw-btt" href="https://twitter.com/search?f=realtime&q=%23provinrugbycup" target="_blank"><i class="fa fa-twitter"></i></a>
				</div>
			</div>
		</div>

		<div id="map-canvas"></div>

		<div class="signup-desc">
			<p>Partidos de 30min., 3 Partidos Minimo(por equipo)</br>32 equipos de hasta 8 jugadores <br />6 canchas - mayores de 18 años<br />...</p>
			<a class="signup-btt" href="https://www.facebook.com/events/749798228420046/?fref=ts" target="_blank">Inscribite!</a>
		</div>
	</section>

	<section id="browse" ng-hide="controller.signup == true">

		<ul class="nav nav-tabs">

			<li role="presentation" ng-class="controller.section == 'fixture' ? 'active' : ''">
				<a href="#fixture" ng-click="controller.section = 'fixture'">Fixture</a>
			</li>
			<li role="presentation" ng-class="controller.section == 'equipos' ? 'active' : ''">
				<a href="#equipos" ng-click="controller.section = 'equipos'">Equipos</a>
			</li>
			<li role="presentation" ng-class="controller.section == 'grupos' ? 'active' : ''">
				<a href="#grupos" ng-click="controller.section = 'grupos'">Grupos</a>
			</li>
			<li role="presentation" ng-class="controller.section == 'canchas' ? 'active' : ''">
				<a href="#grupos" ng-click="controller.section = 'canchas'">Canchas</a>
			</li>

		</ul>

		<div class="tabs-contents">

			<!-- start fixture tab -->
			<div class="fixture-content tab" ng-show="controller.section == 'fixture'">
				
				<div ng-repeat="fecha in controller.fechas">
					<h1>Fecha {{fecha.fecha}}</h1>
					<div ng-repeat="partido in fecha.partidos">
						
						<div class="row fixture-fecha-row" ng-class="$index % 2 == 0 ? '': 'odd'">
							<div class="col-xs-4">Cancha {{partido.cancha}} - <i class="fa fa-clock-o"></i>&nbsp;{{partido.hora}}</div>
							<div class="col-xs-2">{{partido.equipo1}}</div>
							<div class="col-xs-1">&nbsp;</div>
							<div class="col-xs-1">VS</div>
							<div class="col-xs-1">&nbsp;</div>
							<div class="col-xs-2">{{partido.equipo2}}</div>
						</div>

					</div>
				</div>

			</div>
			<!-- end fixture tab -->

			<!-- start equipos tab -->
			<div class="equipos-content tab" ng-show="controller.section == 'equipos'">
				
				<select ng-model="controller.selectedEquipo">
					<option ng-repeat="equipo in controller.equipos" value="{{equipo.id}}">{{equipo.nombre}}</option>
				</select>
			
				<div class="row equipos-row" ng-repeat="equipo in controller.equipos" ng-show="equipo.id == controller.selectedEquipo">
					<div class="col-xs-2 pic" style="background-image:url('{{equipo.imagen}}')"></div>
					<div class="col-xs-6">
						<h1>{{equipo.nombre}}</h1>
						<p ng-repeat="jugador in equipo.jugadores" ng-class="$index %2 == 0 ? '' : 'odd'">{{jugador}}</p>
					</div>
				</div>

			</div>
			<!-- end fixture tab -->

			<!-- start grupos tab -->
			<div class="grupos-content tab" ng-show="controller.section == 'grupos'">
				<div ng-repeat="grupo in controller.grupos">
					<h1>{{grupo.nombre}}</h1>
					
					<div class="row row-grupo-equipo">
					
						<div class="col-xs-8">&nbsp;</div>
						<div class="col-xs-1">PJ</div>
						<div class="col-xs-1">GA</div>
						<div class="col-xs-1">GC</div>
						<div class="col-xs-1">PTS.</div>
					
					</div> 


					<div class="row row-grupo-equipo" ng-repeat="equipo in grupo.equipos" ng-class="$index % 2 == 1 ? '' : 'odd'">
					
						<div class="col-xs-8">{{equipo.nombre}}</div>
						<div class="col-xs-1">{{equipo.pj}}</div>
						<div class="col-xs-1">{{equipo.ga}}</div>
						<div class="col-xs-1">{{equipo.gc}}</div>
						<div class="col-xs-1">{{equipo.puntos}}</div>
					
					</div> 

				</div>

			</div>
			<!-- end grupos tab -->
			<div class="canchas-content tab" ng-show="controller.section == 'canchas'">
				<img src="img/frontend/mapa-canchas.png" />
			</div>

		</div>

	</section>

</div>

<!-- FOOTER : begin -->
<footer id="footer">
	<a class="logo-urucas" href="http://urucas.com" target="_blank"></a>
</footer>


<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="bower_components/angular/angular.min.js"></script>
<script src="js/tweetie.min.js"></script>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

<script src="js/functions.js"></script>

</body>
</html>


